


<div >
    {{vm.test}}


    <div class="container">
    <div ng-controller="catalogController" >
          <div class="card p-3">
            <form>
              <div class="form-group">
                <h6>Agregar un Celular</h6>
                <label>Marca</label>
                <input type="text" class="form-control" id="id" ng-model="vm.catalog.marca" placeholder="Identificador Asignado">
                <label>Modelo:</label>
                <input type="text" class="form-control" id="nombre" ng-model="vm.catalog.modelo" >
                <label>Precio:</label>
                <input type="text" class="form-control" id="costo" ng-model="vm.catalog.precio">
                <label>Memoria RAM: </label>
                <input type="text" class="form-control" id="proveedor" ng-model="vm.catalog.ram" placeholder="Identificador Asignado">
                <label>Almacenamiento Interno:</label>
                <input type="number" class="form-control" id="nol" ng-model="vm.catalog.ai" placeholder="Identificador Asignado">
                <label>Bateria:</label>
                <input type="text" class="form-control" id="fechacad" ng-model="vm.catalog.bat">
                <label>Tamaño de la pantalla</label>
                <input type="text" class="form-control" id="fechacad" ng-model="vm.catalog.screen">
               <label>Sistema Operativo</label>
               <input type="text" class="form-control" id="nombre" ng-model="vm.catalog.so" >
               <label>Imagen frontal (URL)</label>
               <input type="text" class="form-control" id="nombre" ng-model="vm.catalog.if" >
               <label>Imagen lateral (URL)</label>
               <input type="text" class="form-control" id="nombre" ng-model="vm.catalog.il" >

               <button type="button" class="btn btn-info" ng-click="vm.savecatalog()">Agregar catalogo</button>
               <button type="button" class="btn btn-outline-danger" ng-click="vm.inicatalog()" class="btn btn-outline-danger">Limpiar</button>
        
            </form>
            <br>
            <br>
     
            <table class="table table-condensed table-responsive">
                <thead>                    
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Costo</td>
                    <td>Proveedor</td>
                    <td>No. Lote</td>
                    <td>Fecha de Caducidad</td>
                </thead>
                <tbody>
                    <tr ng-repeat="catalog in vm.catalogs">
                        <td>{{catalog.id}}</td>
                        <td>{{catalog.nombre}}</td>
                        <td>{{catalog.duration}}</td>
                        <td>{{catalog.proveedor}}</td>
                        <td>{{catalog.nol}}</td>
                        <td>{{catalog.fechacad}}</td>
                    </tr>
                </tbody>
            </table>
    
          </div>
    
    </div>
</div>
</div>